<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/karam/Documents/Projects/Selenium_ProjectVWO/src/test/java/com/vwologin/vwoLoginPageSucess.java">
        <classes><class name="com.vwologin.vwoLoginPageSucess">
            <methods><include name="vwo_Login"/></methods>
        </class></classes></test></suite>